<!-- tasks#show  -->
<section class="section">
  <div class="container">
    <h3 class="title is-3">ふわっと仕事：<%= @task.title %></h3>
    <h2 class="subtitle">
      概要：<%= @task.content %>
    </h2>
  </div>
</section>

<div class="container">
  <h3 class="title is-3">タスク案</h3>
    <% if @plans.count > 0 %>
      <div class="tile is-ancestor">
        <% @plans.each_with_index do |plan, index| %>
          <% if (index + 1) % 3 == 0 %>
          <!-- each Tasks  -->
          <div class="tile is-parent">
            <article class="tile is-child box">
              <p class="title is-4"><%= plan.user.name %>さんのタスク案</p>
              <p class="subtitle is-5"><%= plan.comment %></p>
              <!-- list of Actions  -->
              <% if plan.actions.count > 0 %>
                <ol class="notification">
                  <% plan.actions.each do |action| %>
                      <li><%= action.content %></li>
                  <% end %>
                </ol>
              <% end %>
            </article>
          </div>
        </div>
        <div class="tile is-ancestor">
          <% else %>
            <!-- each Tasks  -->
            <div class="tile is-parent">
              <article class="tile is-child box">
                <p class="title is-4"><%= plan.user.name %>さんのタスク案</p>
                <p class="subtitle is-5"><%= plan.comment %></p>
                <!-- list of Actions  -->
                <% if plan.actions.count > 0 %>
                  <ol class="notification">
                    <% plan.actions.each do |action| %>
                        <li><%= action.content %></li>
                    <% end %>
                  </ol>
                <% end %>
              </article>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="is-divider"></div>
      <div class="columns is-mobile">
        <div class="column is-half is-offset-one-quarter">
          <%= link_to "戻る", tasks_path, class: "button is-fullwidth is-medium is-half"%>
        </div>
      </div>
  <% end %>
</div>
